<!DOCTYPE html>
<html lang="en">
<%- include('./partials/links.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container mt-5 text-center">
        <h1 class="display-4">Unauthorized Access</h1>
        <p class="lead">You do not have permission to view this page.</p>
        <a href="/login" class="btn btn-primary btn-lg">Go to Login</a>
    </div>
</body>
</html>
